/* .newsources {
  margin-bottom: 20px;
} */

.sources-links {
  border: 2px solid brown;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
}

h2 {
  text-align: center;
}

.ter {
  position: relative;
  left: -50px;
}

.macro-div {
  margin-bottom: 20px;
}
