{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<!-- news sources section -->
<!-- BUSINESS -->
<div class="mb-5">
  <h2 class="text-center">Business News</h2>
  <p>
    {{macro.displayNewsList(biz)}}
  </p>
</div>

<div class="mb-5">
  <h2 class="text-center">Terrorism News</h2>
  <p>
    {{macro.displayNewsList(terror)}}
  </p>
</div>
<h2 class="text-center">Technology News</h2>
<p>
  {{macro.displayNewsList(technology)}}
</p>

<div class="mb-5">
  <h2 class="text-center">Sport News</h2>
  <p>
    {{macro.displayNewsList(sports)}}
  </p>
</div>

<div class="mb-5">
  <h2 class="text-center">Political News</h2>
  <p>
    {{macro.displayNewsList(politics)}}
  </p>
</div>
{% endblock %}