<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body>
  <!-- news sources section -->
  <h2>CNN News sources</h2>
  <ul>
    {% for cnn_source in cnn %}
    <img src="{{cnn_source.urlToImage}}" alt="terrorism">
    <p>{{cnn_source.title}}</p>
    <p>{{cnn_source.description}}</p>
    <p>{{cnn_source.url}}</p>
    {% endfor %}
  </ul>
  <!-- BUSINESS -->
  <h2>Business News</h2>
  <ul>
    {% for bbc_source in bbc %}
    <img src="{{bbc_source.urlToImage}}" alt="terrorism">
    {{bbc_source.title}}
    {{bbc_source.description}}
    {{bbc_source.url}}
    {% endfor %}
  </ul>
</body>

</html>