{% macro displayNewsList(news_list) %}

{% for news in news_list %}
<!-- <div class="col-md-4 col-lg-4">
  <img src="{{news.urlToImage}}" alt="{{news.title}}" class="img-responsive">
  <li class="text-center">
    <a href="/news/{{news.id}}">{{news.title}}</a>
  </li>
</div> -->
<div class="col-md-4 col-lg-4 macro-div">
  <div class="card">
    <img src="{{news.urlToImage}}" class="img-responsive" alt="{{news.title}}">
    <div class="card-body">
      <h5 class="card-title">"{{news.title | truncate(60)}}"</h5>
      <a href="{{news.url}}" target="_blank" class="btn btn-primary text-center">Go to article</a>
    </div>
  </div>
</div>
{% endfor %}
{% endmacro %}

{% macro displaySourcesList(sources_list) %}

{% for sources in sources_list %}
<a href="/articles/{{sources.id}}" class="sources-links">{{sources.name}}</a>
{% endfor %}
{% endmacro %}